/.clj-kondo/
.env-docker
.lein-repl-history
.nrepl-port
.shadow-cljs/
.vscode/
dev-config.edn
log/
node_modules/
package.json
resources/public/gen-img/
resources/svg/path-file.svg
src/cljs/svg_to_html/test_dom.cljs
target/
test-config.edn
/.lsp/
.#
package-lock.json
